* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
    background-color:papayawhip;
    margin: 0;
    
}
.container {
    overflow:auto
    
}        
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color: black;
}
.hero-image {
  background-image: url("image/marktplaats1.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;   
  background-repeat: no-repeat;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 600%;
  color: yellow;
  
  
}

.main {
  float:left;
  width:60%;
  padding:0 20px;
  font-family: 'Oleo Script Swash Caps', cursive;
  
}
.header {
  background-color:papayawhip;
  padding:15px;
  text-align:right;
}

.right {
  background-color:papayawhip;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;

}
.right h2 {
  color: red;
}
footer {
  background-color:#e5e5e5;
  text-align:center;
  padding:10px;margin-top:7px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*max-width: 300px;*/
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
input.search { 
  border-radius: 5px;
   height: 30px; 

    border: 1px solid rgb(150,150,150);
     width: 140px;
      background:#FFFFFF url(image/search.png) no-repeat 4px 4px;
       padding:4px 4px 4px 30px;
        margin-right: 10px; 
      }
.search {
  margin-right: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center; 
}
.col {
  width: 100%;
}
 /* Dropdown Button */
 .dropbtn {
  background-color: peachpuff;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: hsl(29, 69%, 45%);} 

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
}
}








